<footer>
  <div class="container footer-content">
    <div class="footer-wrapper">
      <p>
        <span>&copy; 2025 «Грим та Грім». </span
        ><span>Всі права захищені.</span>
      </p>
      <address>
        <a href="mailto:booking@lotoplay.ua">booking@lotoplay.ua</a>
        &middot;
        <a href="tel:+380991234567">+38 (099) 123-45-67</a>
      </address>
    </div>
    <ul class="social-links">
      <li>
        <a href="https://www.instagram.com/" aria-label="Instagram" rel="noopener noreferrer"
          >Instagram</a
        >
      </li>
      &middot;
      <li>
        <a href="https://www.youtube.com/" aria-label="YouTube" rel="noopener noreferrer">YouTube</a>
      </li>
      &middot;
      <li>
        <a href="https://www.facebook.com" aria-label="Facebook" rel="noopener noreferrer">Facebook</a>
      </li>
    </ul>
  </div>
</footer>
