<section id="concerts" class="concerts">
  <div class="container">
    <h2>Найближчі концерти</h2>
    <div class="table-wrapper">
      <table>
        <thead>
          <tr>
            <th scope="col"><span>Місто / </span><span>Заклад</span></th>
            <th scope="col"><span>К-сть </span><span>місць</span></th>
            <th scope="col"><span>Дата </span><span>і час</span></th>
            <th scope="col" aria-label="Дія"></th>
          </tr>
        </thead>
        <tbody id="concerts-body"></tbody>
      </table>
    </div>
    <button id="load-more" class="btn btn-pink" type="button">Показати ще</button>
  </div>
</section>
