<div class="overlay" role="dialog" aria-modal="true" aria-labelledby="booking-modal-title">
  <div class="modal-window">
    <button class="modal-close" type="button" aria-label="Закрити вікно">
      &times;
    </button>

    <h2 class="modal-title" id="booking-modal-title">
      Забронювати квиток на «Грим та Грім»
    </h2>
    <form>
      <div class="name-wrapper">
        <div class="name">
          <label for="booking-name">Ім’я</label>
          <input type="text" id="booking-name" name="name" required />
        </div>
        <div class="name">
          <label for="booking-email">Email</label>
          <input type="email" id="booking-email" name="email" required />
        </div>
      </div>
      <label for="list">Місто / Заклад</label>
      <select id="list" name="list"></select>
      <input type="date" id="event-date" name="event-date" />
      <label for="tickets">Кількість квитків</label>
      <input
        type="number"
        id="tickets"
        name="tickets"
        min="1"
        max="10"
        value="1"
      />

      <button type="submit" class="btn btn-pink">Забронювати</button>
    </form>
  </div>
</div>
